<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<style>


</style>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>※ -레시피 상세 정보- ※</h1>
            </section>
            <section id="section_1">
                <div id="sc1_left">
                    <ul>
                        <li><a href="#"><img th:src="@{/img/sc2_5.jpg}" alt="food_img" id="detail_img"
                            width="500px"></a></li>
                    </ul>
                </div>
                <div id="sc1_right">
                    <table>
                    		<tr th:each="food : ${food}">
								<th>레시피 번호</th>
								<td th:text="${food.food_id}"></td>
								</tr>
							<tr>
								
								<th>레시피 제목</th>
								<td th:text="${food.food_name}"></td>
							</tr>
							<tr>
								<th>조회수</th>
								<td th:text="${food.bookmark_count}"></td>
							</tr>
								<th>칼로리</th>
								<td th:text="${food.food_cal}"></td>
							</tr>
							<tr>
								<th>태그</th>
								<td th:text="${food.food_tag}"></td>
							</tr>
			
                    </table>                    
                </div>
            </section>
           	<section id="section_1s">
           		<div th:utext="${food.food_contents}">
           		</div>
           	</section>
            <section id="section_2">
            	<div id="sc2_button">
                    <form th:action="@{/orderView/cart}" method="post">
                    <a>	
                    	<input type="hidden" name="food_id" th:value="${food.food_id}"> 
                        <input type="submit" value="장바구니에 담기">
                    </a>
                    </form>
                </div>
            </section>
            <section id="section_2s">
                	<table>
                		<tr>
                			<td colspan="6" id="td_btn">
                				<a th:href="|@{/boardView/writeboard}?food_id=${food.food_id}|">
                					<input type="button" value="후기 작성하기">
                				</a>
                			</td>
                		</tr>
                		<tr>
                			<th>번호</th>
	                		<th>작성자</th>
	                		<th>글 제목</th>
	                		<th>작성 시간</th>
	                		<th>조회수</th>
	                		<th>추천</th>
                	</tr>
                		<tr th:each=" list:${list}">
                        <td th:text="${list.b_num}" class="center"></td>
                        <td th:text="${list.m_id}" class="center"></td>
                        <td><a th:text="${list.b_title}" th:href="@{/boardView/readboard(b_num=${list.b_num})}"></a></td>
                      	<td th:text="${list.b_datetime}" class="center"></td>
                        <td th:text="${list.b_readcount}" class="center"></td>
                        <td th:text="${list.b_likecount}" class="center"></td>
                    </tr>

                
                	</table>
                </div>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>