<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>※ -레시피 상세 정보- ※</h1>
            </section>
            <section id="section_1">
                <div id="sc1_left">
                    <ul>
                        <li><a href="#"><img th:src="@{/img/sc2_5.jpg}" alt="food_img" id="detail_img"
                            width="500px"></a></li>
                    </ul>
                </div>
                <div id="sc1_right">
                    <table>
                    		<tr th:each="food : ${food}">
								<th>레시피 번호</th>
								<td th:text="${food.food_id}"></td>
								</tr>
							<tr>
								
								<th>레시피 제목</th>
								<td th:text="${food.food_name}"></td>
							</tr>
							<tr>
								<th>조회수</th>
								<td th:text="${food.bookmark_count}"></td>
							</tr>
								<th>칼로리</th>
								<td th:text="${food.food_cal}"></td>
							</tr>
							<tr>
								<th>태그</th>
								<td th:text="${food.food_tag}"></td>
							</tr>
							
                    	<!-- 
                        <h1>제품 상세</h1>
                        <legend>제품 개요</legend>
                        <tr>
                            <th>제품명</th>
                            <td>말랑말랑 오다리</td>
                        </tr>
                        <tr>
                            <th colspan="2">오늘의 추천 레시피!</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    바쁜 일상에 지친 직장인!<br>
                                    오늘의 안주는 무엇일까 고민하는 당신!<br>
                                    시원한 맥주 한잔과 함께 오다리 어떠세요?
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>주재료</th>
                            <td>오징어 다리, 설탕, 물엿, 간장</td>
                        </tr>
                         -->
                    </table>                    
                </div>
            </section>
            <section id="section_2">
            	<div id="sc2_button">
                    <form th:action="@{/orderView/cart}" method="post">
                    <a>	
                    	<input type="hidden" name="food_id" th:value="${food.food_id}"> 
                        <input type="submit" value="장바구니에 담기">
                    </a>
                    </form>
                </div>
            </section>
            <section id="section_2s">
                	<table>
                		<tr>
                			<td colspan="6" id="td_btn">
                				<a th:href="|@{/boardView/writeboard}?food_id=${food.food_id}|">
                					<input type="button" value="후기 작성하기">
                				</a>
                			</td>
                		</tr>
                		<tr>
                			<th>번호</th>
                			<th>작성자명</th>
                			<th>후기 제목</th>
                			<th>작성일시</th>
                			<th>추천수</th>
                			<th>조회수</th>
                		</tr>
                		<tr>
                			<td>3</td>
                			<td>abc123</td>
                			<td><a>요번만 3번째에요</a></td>
                			<td>2022/02/24</td>
                			<td>0</td>
                			<td>0</td>
                		</tr>
                		<tr>
                			<td>2</td>
                			<td>abc123</td>
                			<td><a>다시먹어도 맛있어요</a></td>
                			<td>2022/02/23</td>
                			<td>0</td>
                			<td>0</td>
                		</tr>
                		<tr>
                			<td>1</td>
                			<td>abc123</td>
                			<td><a>너무 맛있어요</a></td>
                			<td>2022/02/22</td>
                			<td>0</td>
                			<td>0</td>
                		</tr>
                	</table>
                </div>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>