<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/recipeList.css}">
</head>

<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_2">
                <h2><span>전체</span>&nbsp;RECIPE</h2>
                
                <!--  
                <table>
                    <tr>
	                   	<th:block th:each="food:${foodlist}">
                    		<td>
	                            <a th:href="@{/recipeView/detail}">
	                                <p><img th:src="@{/img/sc2_} + ${foodStat.count} + '.jpg'"></p>
	                                <p> <span th:text="${food.food_name}">메뉴</span></p>
	                            </a>
	                        </td>
	                   	</th:block>
                   	</tr>!-->
                   	
                   	<table>
						<th:block th:each="food, stat : ${foodlist}">
						<th:block th:if="${stat.index % 4 == 0}">
						<tr>
						</th:block>

						<td>
							<a th:href="@{/recipeView/detail(food_id=${food.food_id})}">
								<p><img th:src="@{/img/sc2_} + ${stat.count} + '.jpg'" class="recipeImg"></p>
								<p><span th:text="${food.food_name}"></span></p>
							</a>
						</td>

						<th:block th:if="${stat.index % 4 == 3}">
						</tr>
						</th:block>
						</th:block>
					</table>        	
                   	
                   	<!-- 
                        <td>
                           <p> <a href="#">
                                <img th:src="@{/img/sc2_2.jpg}">
                            </a></p>
                            <p></p>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_3.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_4.jpg}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="#">메뉴1</a>
                        </th>
                        <th>
                            <a href="#">메뉴2</a>
                        </th>
                        <th>
                            <a href="#">메뉴3</a>
                        </th>
                        <th>
                            <a href="#">메뉴4</a>
                        </th>
                    </tr>
                    <tr>
      					<th th:text="${food.food_name}"></th>
      				</tr>
                    <tr>
                        <td>
                            <a th:href="@{/recipeView/detail}">
                                <img th:src="@{/img/sc2_5.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_6.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_7.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_8.jpg}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a th:href="@{/recipeView/detail}">메뉴5</a>
                        </th>
                        <th>
                            <a href="#">메뉴6</a>
                        </th>
                        <th>
                            <a href="#">메뉴7</a>
                        </th>
                        <th>
                            <a href="#">메뉴8</a>
                        </th> -->
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>