<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/recipeList.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}"/>
	
	<script type="text/javascript" th:src="@{/js/slick.min.js}"></script>
	<script>
	    $(document).ready(function(){
	        $(".visual").slick({
	            // 마우스 오버시 멈춤
	            pauseOnHover : true,
	            // 클릭 및 이벤트시 자동재생 멈춤
	            pauseOnFocus : false,
	            // 옆 화살표
	            arrows : true,
	            // 밑에 점
	            dots : true,
	        })
	    })
	</script>
	<style>
	    .visual {
	        width: 144rem;
	        margin: 0 auto;
	    }
	    .visual .slick-next {
	        right: 20px;
	        position: relative;
	    }
	    .visual .slick-prev {
	        left: 20px;
	        z-index: 1;
	    }
	    .visual slick-next:before {
	        position: absolute;
	        content: '';
	        background-color: white;
	    }
	    .visual .slick-dots {
	        width: 144rem;
	        height: 1rem;
	        top: 0;
	        position: relative;
	    }
	    .slick-dots .slick-active button {
	        color: blue;
	        position: absolute;
	    }
	    .slick-dots li button:before {
	        color: navy;
	    }
	</style>
    
</head>

<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_2">
                <h2><span>전체</span>&nbsp;RECIPE</h2>
                <div>
                	<a th:href="@{/recipeView/writeFood}" sec:authorize="hasRole('ROLE_ADMIN')" id="admin_input">
                		<input class="btn btn-success btn-lg" type="button" value="레시피 등록하기">
                	</a>
                </div>
                	
                <!-- 
                <table>
                    <tr>
	                   	<th:block th:each="food:${foodlist}">
                    		<td>
	                            <a th:href="@{/recipeView/detail}">
	                                <p><img th:src="@{/img/sc2_} + ${foodStat.count} + '.jpg'"></p>
	                                <p> <span th:text="${food.food_name}">메뉴</span></p>
	                            </a>
	                        </td>
	                   	</th:block>
                   	</tr>  -->
                   	<div class="visual">
                   	<div>
                   	<table>
						<th:block th:each="food, stat : ${foodlist}">
						<th:block th:if="${stat.index % 4 == 0}">
						<tr>
						</th:block>
						<td>
							<a th:href="@{/recipeView/detail(food_id=${food.food_id})}">
								<p><img th:src="@{/img/sc_2_} + ${stat.count} + '.jpg'" class="recipeImg"></p>
								<p><span th:text="${food.food_name}"></span></p>
							</a>
						</td>
						<th:block th:if="${stat.index % 4 == 3}">
						</tr>
						</th:block>
						</th:block>
					</table>
					</div>
					<div>
                   	<table>
						<th:block th:each="food, stat : ${foodlist}">
						<th:block th:if="${stat.index % 4 == 0}">
						<tr>
						</th:block>
						<td>
							<a th:href="@{/recipeView/detail(food_id=${food.food_id})}">
								<p><img th:src="@{/img/sc_2_} + ${stat.count} + '.jpg'" class="recipeImg"></p>
								<p><span th:text="${food.food_name}"></span></p>
							</a>
						</td>
						<th:block th:if="${stat.index % 4 == 3}">
						</tr>
						</th:block>
						</th:block>
					</table>
					</div>
					</div>
                   	<!-- 
                        <td>
                           <p> <a href="#">
                                <img th:src="@{/img/sc2_2.jpg}">
                            </a></p>
                            <p></p>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_3.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_4.jpg}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a href="#">메뉴1</a>
                        </th>
                        <th>
                            <a href="#">메뉴2</a>
                        </th>
                        <th>
                            <a href="#">메뉴3</a>
                        </th>
                        <th>
                            <a href="#">메뉴4</a>
                        </th>
                    </tr>
                    <tr>
      					<th th:text="${food.food_name}"></th>
      				</tr>
                    <tr>
                        <td>
                            <a th:href="@{/recipeView/detail}">
                                <img th:src="@{/img/sc2_5.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_6.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_7.jpg}">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img th:src="@{/img/sc2_8.jpg}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <a th:href="@{/recipeView/detail}">메뉴5</a>
                        </th>
                        <th>
                            <a href="#">메뉴6</a>
                        </th>
                        <th>
                            <a href="#">메뉴7</a>
                        </th>
                        <th>
                            <a href="#">메뉴8</a>
                        </th> -->
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>