<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, intial-scale=1"/>
<title>레시피 등록</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		let ingListOpt = '';
		let ingMap = new Map();
		
	    $(document).ready(function() {
	    	let ingList = [[${inglist}]];
	    	
			for(let ing of ingList){
				ingListOpt += `<option>${ing.i_name}</option>`;
				ingMap.set(ing.i_name, ing.i_price);
			}
			
	        $('#summernote').summernote({
	        	height: 300,                 // set editor height
	        	minHeight: null,             // set minimum height of editor
	        	maxHeight: null,             // set maximum height of editor
	        	focus: true                  // set focus to editable area after initializing summernote
	        });
	        
	        $('.ing-name').change(changeIng);
            $('.ing-qty').change(changeIng);
	    });
	    
	    const add_textbox = () => {
            const box = document.getElementById("box");
            const newP = document.createElement('p');
            
            newP.innerHTML = `<select class='ing-name' name='i_name'>
            					${ingListOpt}
            				</select>
							<input type='text' class='ing-qty' name='od_quantity'>
							<input type='button' value='삭제' onclick='remove(this)'>`;
            
            	
            box.appendChild(newP);
            $('.ing-name').change(changeIng);
            $('.ing-qty').change(changeIng);
        }
        const remove = (obj) => {
            document.getElementById('box').removeChild(obj.parentNode);
        }
        
        function changeIng() {
        	let ingNames = document.getElementsByClassName('ing-name');
        	let ingQtys = document.getElementsByClassName('ing-qty');
        	
        	let totalPrice = 0;
        	for(let i=0 ; i<ingNames.length ; i++){
        		if(ingQtys[i].value == '')
        			continue;
        		
        		totalPrice += ingMap.get(ingNames[i].value) * ingQtys[i].value;
        	}
        	$('#totalPrice').val(totalPrice);
        }
        
        
  	</script>
</head>
<body>
	<div class="container">
		<section id="section_0">
			<h1>레시피 등록</h1>
		</section>
		<section id="section_1">
			<form th:action="@{/recipeView/writeFood}" th:object="${postForm}" method="post">
				<div class="mb-3">
					<label class="form-label">음식명</label>
					<input type="text" class="form-control" name="food_name">
				</div>
				<div class="mb-3">
					<label class="form-label">카테고리</label>
					<select class="form-select form-select-sm" name="food_category" size="1" aria-label="태그">
							 <option selected value="base">밑반찬</option>
	 						 <option value="main">메인반찬</option>		
	 						 <option value="guk">국/탕/찌개</option>
	 						 <option value="dessert">디저트</option>
	 						 <option value="mandu">면/만두</option>
	 						 <option value="rice">밥/죽/떡</option>
	 						 <option value="kimchi">김치/젓갈/장</option>
	 						 <option value="sauce">양념/소스/잼</option>
	 						 <option value="west">양식</option>
	 						 <option value="salad">샐러드</option>
	 						 <option value="bread">스프/빵/과자</option>
	 						 <option value="etc">기타</option>
	 						 				
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">레시피</label>
	   				  				
					<textarea id="summernote" name="food_contents"></textarea>
					
				</div>
				<div class="mb-3">
					<label class="form-label">칼로리</label>
					<input type="text" class="form-control" name="food_cal">
				</div>
				<div class="mb-3">
					<label class="form-label">재료</label>
					<div id="box">
						<select class='ing-name' name="i_name">
							<th:block th:each="ing:${inglist}">
								<option th:text="${ing.i_name}"></option>
							</th:block>
						</select>
						<input class='ing-qty' type="text" name="od_quantity" placeholder="수량"> <input type="button" value="추가" onclick="add_textbox()">
			        </div>
			<!--  		<select class="form-select form-select-sm" name="food_tag" size="5" aria-label="태그">
							 <option selected value="bok">볶음</option>
	 						 <option value="boil">끓이기</option>		
	 						 <option value="buchim">부침</option>
	 						 <option value="zorim">조림</option>
	 						 <option value="bibim">비빔</option>
	 						 <option value="zzim">찜</option>
	 						 <option value="zulim">절임</option>
	 						 <option value="fry">튀김</option>
	 						 <option value="sam">삶기</option>
	 						 <option value="roast">굽기</option>
	 						 <option value="dechi">데치기</option>
	 						 <option value="sasami">회</option>
	 						 <option value="etc">기타</option>				
					</select> -->
				</div>
				<div class="mb-3">
					<label class="form-label">가격</label>
					<input type="text" id="totalPrice" class="form-control" name="food_price" readonly>
				</div>
				<button id="btn-upload" type="button" style="border: 1px solid #ddd; outline: none;">파일 추가</button>
	  			<input id="input_file" multiple="multiple" type="file" style="display:none;">
				<button type="button" class="btn btn-success" onclick="javascript:location.href='/littlechef/recipeView/list'">이전으로</button>
				<button type="submit" class="btn btn-primary">작성</button>
			</form>
		</section>
	</div>
</body>
</html>