<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, intial-scale=1"/>
<title>레시피 등록</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<h1>레시피 등록</h1>
		<form action="/recipeView/writeFood" method="post">
			<div class="mb-3">
				<label class="form-label">제목</label>
				<input type="text" class="form-control" name="food_name">
			</div>
			<div class="mb-3">
				<label class="form-label">내용</label>
				<textarea class="form-control" rows="5" name="content"></textarea>
			</div>
			
			<button type="button" class="btn btn-success" onclick="javascript:location.href='/littlechef/recipeView/list'">이전으로</button>
			<button type="submit" class="btn btn-primary">작성</button>
		</form>
	</div>
	<script src="js/jquery-3.6.0.min.js"></script>
	<scirpt src="js/bootstrap.min.js"></scirpt>
</body>
</html>