<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.BoardDAO">

<!-- 게시글 저장 (파일명 나중에 추가) -->
<insert id="writeBoard" parameterType="Board">
	INSERT INTO site_board
		(
			b_num
			, food_id
			, m_id
			, b_title
			, b_contents
		)
		VALUES
		(
			site_board_seq.NEXTVAL
			, #{food_id}
			, #{m_id}
			, #{b_title}
			, #{b_contents}
		)
</insert>

<!-- 글개수 -->
<select id="count" parameterType="map" resultType="int">
	SELECT 
		count(*)
	FROM
		site_board
	<if test="type != null and searchWord != null">
	<where>
		<if test="type == 'b_title'">
			UPPER(b_title) like '%' || UPPER(#{searchWord}) || '%'
		</if>
		<if test="type == 'b_contents'">
			UPPER(b_contents) like '%' || UPPER(#{searchWord}) || '%'
		</if>
		<if test="type == 'm_id'">
			UPPER(b_id) like UPPER(#{searchWord})
		</if>
		<if test="type == 'all'">
			UPPER(b_title) like '%' || UPPER(#{searchWord}) || '%'
			OR UPPER(b_contents) like '%' || UPPER(#{searchWord}) || '%'
			OR UPPER(m_id) like UPPER(#{searchWord})
		</if>
	</where>
	</if>
</select>

<!-- 글목록 -->
<select id="selectAll" parameterType="map" resultType="Board">
	SELECT 
		b_num
		, food_id
		, b_title
		, m_id
		, b_readcount
		, TO_CHAR(b_datetime, 'YY-MM-DD-HH:MI') AS b_datetime
	FROM
		site_board
		<!-- 전달된 값에 따라서 sql 변경 -> 동적 sql --> <!-- 검색어가 넘어왔는지부터 확인 -->
	<if test="type != null and searchWord != null"> <!-- true, false가 나오는 조건식 --> <!-- vo : 변수명 map : key -->
	<where> <!-- 조건이 하나도 안남으면 where도 지움 -->
		<if test="type == 'b_title'"> <!-- 넘어왔다는 게 확인이 되면 타입에 들어있는 문자열 내용을 보면 알 수 있음 -> if문으로 확인 -->
			UPPER(b_title) like '%' || UPPER(#{searchWord}) || '%'
		</if>
		<if test="type == 'b_contents'">
			UPPER(b_contents) like '%' || UPPER(#{searchWord}) || '%'
		</if>
		<if test="type == 'm_id'">
			UPPER(m_id) like UPPER(#{searchWord})
		</if>
		<if test="type == 'all'">
			UPPER(b_title) like '%' || UPPER(#{searchWord}) || '%'
			OR UPPER(b_contents) like '%' || UPPER(#{searchWord}) || '%'
			OR UPPER(b_memberid) like UPPER(#{searchWord})
		</if>
	</where>
	</if>
	ORDER BY
		b_num DESC
</select>


<select id="selectOne" parameterType="int" resultType="Board">
	SELECT * FROM site_board WHERE b_num = #{b_num}
</select>

<update id="updateHits" parameterType="int">
	UPDATE site_board
	SET	b_readcount = b_readcount + 1
	WHERE b_num = #{b_num}
</update>

<select id="selectTotal" resultType="int">
	SELECT COUNT(b_num)
	FROM site_board
</select>

<delete id="delete" parameterType="Board">
	DELETE FROM site_board
	WHERE
		b_num = #{b_num}
		AND
		m_id = #{m_id}
</delete>


<update id="update" parameterType="Board">
	UPDATE site_board
	SET
		b_title = #{b_title}
		, b_contents = #{b_contents}
	WHERE
		b_num = #{b_num}
		AND
		m_id = #{m_id}
</update>

<insert id="insertReply" parameterType="Reply">
	INSERT INTO site_board_reply
	(
	br_num
	, b_num
	, m_id
	, br_replytext
	)
	VALUES
	(
	site_board_reply_seq.NEXTVAL
	, #{b_num}
	, #{m_id}
	, #{br_replytext}
	)
</insert>


<select id="selectReply" parameterType="int" resultType="Reply">
	SELECT * FROM site_board_reply WHERE b_num = #{b_num} ORDER BY br_datetime DESC
</select>

<select id="selectOneReply" parameterType="int" resultType="Reply">
	SELECT * FROM site_board_reply WHERE b_num = #{b_num} AND br_num = #{br_num}
</select>

<delete id="deleteReply" parameterType="Reply">
	DELETE FROM site_board_reply
	WHERE
		br_num = #{br_num}
		AND
		m_id = #{m_id}
</delete>



</mapper>
