<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.CsDAO">

<!-- 게시글 저장 (파일명 나중에 추가) -->
<insert id="writeBoard" parameterType="Cscenter">
	INSERT INTO site_cscenter
		(
			c_num
			, m_id
			, c_title
			, c_contents
		)
		VALUES
		(
			site_cscenter_seq.NEXTVAL
			, #{m_id}
			, #{c_title}
			, #{c_contents}
		)
</insert>


</mapper>