<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.FoodDAO">

<!-- 게시글 저장 (파일명 나중에 추가) -->
<select id="getFoodList" resultType="Food">
	select 
		*
	from 
		site_food
	<!-- where
		food_name like '%' || upper(#{searchWord}) || '%' -->
</select>

<!-- 게시글 저장 (파일명 나중에 추가) -->
<select id="getDetail" parameterType="int" resultType="Food">
	select 
		*
	from 
		site_food
	where
		food_id=#{food_id}
	
</select>
<insert id="writeFood" parameterType="Food">
INSERT INTO SITE_FOOD
	(
	food_id
	, food_name
	, food_category
	, food_contents
	, food_cal
	, food_price
	, food_tag
	)
	values
	(
		site_food_seq.nextval
		, #{food_name}
		, #{food_category}
		, #{food_contents}
		, #{food_cal}
		, #{food_price}
		, #{food_tag}
	)

</insert>
<select id="search" parameterType="String" resultType="String">
	select 
		*
	from 
		site_food
	<where>
		<if test="searchWord != null">
			food_name like '%' || #{searchWord} || '%'
		</if>
	</where> 
</select>

<select id="selectboard" parameterMap="int" resultType="Board">
	SELECT *
	FROM site_board
	WHERE food_id = #{food_id}



</select>



</mapper>
