<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.OrderDAO">

	<!-- 게시글 저장 (파일명 나중에 추가) -->
	<insert id="insertCart" parameterType="Order">
		INSERT INTO site_order(
			o_id 
	   		, m_id  
	 		, o_price
		) VALUES (
			site_order_seq.NEXTVAL
			, #{m_id}
			, #{o_price}
		)
		<selectKey keyProperty="o_id" resultType="Integer" order="AFTER">
			SELECT site_order_seq.currval FROM dual
		</selectKey>
	</insert>
	
	<select id="selectOrderByUsrid" parameterType="String" resultType="Order">
		SELECT
		    *
		FROM
		    site_order
		WHERE
		    m_id = #{m_id}
		    AND o_state = 0
	</select>
	
	<delete id="deleteOrder" parameterType="String">
		DELETE FROM 
			site_order
		WHERE 
			m_id=#{m_id}
			AND o_state = 0
	</delete>
</mapper>

