<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cartList.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>장바구니 목록</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>레시피명</th>
                        <th>담은 일자</th>
                        <th>장바구니 상세보기</th>
                        <th>주문하기</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a>매콤달콤 닭갈비</a></td>
                        <td>2022/02/22</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a>시저 샐러드</a></td>
                        <td>2022/02/21</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a>닭가슴살 스테이크</a></td>
                        <td>2022/02/20</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>