<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart_list</title>
    <link rel="stylesheet" th:href="@{/css/reset_1.css}">
    <link rel="stylesheet" th:href="@{/css/cartList.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script>
        $(document).ready(function() {
            $("aside").click(function() {
                $("html").animate({
                    scrollTop: 0,
                }, 777)
            })
        })
    </script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="h_cont">
                <h1><a th:href="@{/}"><img th:src="@{/img/littlecheflogo.png}" width="20%"></a></h1>
                <ul class="h_menu">
                    <li>
                        <a th:href="@{/memberView/login}">
                            <div class="icon">
                                <img th:src="@{/img/topicon1.png}" alt="t_icon1">
                            </div>
                            <p>login</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/}">
                            <div class="icon">
                                <img th:src="@{/img/logout.png}" alt="t_icon2" width="32px">
                            </div>
                            <p>logout</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/join}">
                            <div class="icon">
                                <img th:src="@{/img/topicon2.png}" alt="t_icon3">
                            </div>
                            <p>join</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/mypage}">
                            <div class="icon">
                                <img th:src="@{/img/laptop.png}" alt="t_icon4" width="32px">
                            </div>
                            <p>mypage</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/cart}">
                            <div class="icon">
                                <img th:src="@{/img/cart.png}" alt="t_icon5" width="32px">
                            </div>
                            <p>cart</p>
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#">추천</a></li>
                    <li><a href="#">분류</a></li>
                    <li><a href="#">랭킹</a></li>
                    <li><a href="#">매거진</a></li>
                    <li><a href="#">클래스</a></li>
                    <li><a href="#">더보기</a></li>
                    <li><form name="search" method="post">
                        <fieldset>
                            <legend>검색창</legend>
                            <input type="text" name="search_bar" placeholder="검색어를 입력하세요">
                            <button type="button"><img th:src="@{/img/search.svg}" alt="검색아이콘"></button>
                        </fieldset>
                    </form></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>장바구니 목록</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>레시피명</th>
                        <th>담은 일자</th>
                        <th>장바구니 상세보기</th>
                        <th>주문하기</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a>매콤달콤 닭갈비</a></td>
                        <td>2022/02/22</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a>시저 샐러드</a></td>
                        <td>2022/02/21</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a>닭가슴살 스테이크</a></td>
                        <td>2022/02/20</td>
                        <td>
                            <input type="button" value="상세보기">
                        </td>
                        <td>
                            <input type="button" value="주문하기">
                        </td>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                <div class="sc_box">
                    <ul class="banner">
                        <li><a href="#"><img th:src="@{/img/banner1.jpg}" alt="ban1"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner2.jpg}" alt="ban2"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner3.jpg}" alt="ban3"></a></li>
                    </ul>
                </div>           
            </section>
            <section id="section_4">
                <div class="sc4_cont">
                    <div class="sc4_top">
                        <div class="sct_cont">
                            <h2>NEWS</h2><p>온라인 쇼핑몰이 현재 오픈을 준비하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="sc4_bottom">
                        <ul class="sc4_menu">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보취급방침</a></li>
                            <li><a href="#">대량구매</a></li>
                            <li><a href="#">오시는 길</a></li>
                        </ul>
                    </div>                
                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="ft_cont">
                <div class="ft_logo">
                    <a href="#" class="ft_logo">
                        <img id="ft_img" th:src="@{/img/littlechef_footer.png}" width="15%" alt="f_logo">
                    </a>
                </div>
                <address>대표 : 남정욱 / E-mail: help@10000recipe.com / Phone: 02) 323-5049<br>
                    주소: 서울 강남구 삼성동 123-45 한국무역센터 1106-1호<br>
                    문의 전화(운영시간 평일 10:00~18:00)<br>
                    쇼핑 문의(작은 요리 공방) : 02-1234-5678<br>
                    서비스 이용문의 : 070-4444-6666<br>
                    
                    (주)작은 요리 공방 / 사업자등록번호 234-56-01234 / 통신판매업신고 2022-서울강남-3333 / 벤처기업확인 / 사업자정보확인
                    서울지방중소기업청 제 0123456789-1-01643호</address>
                <p class="copy">Copyright ©Little Chef Inc. All Rights Reserved</p>
            </div>
        </footer>
        <aside id="aside">
            <ul class="as_logo">
                <li>
                    <a href="#"><img th:src="@{/img/up3.png}" alt="aside_logo"></a>
                </li>
            </ul>
        </aside>
    </div>
</body>
</html>