<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ID 중복 확인</title>
<script>
//검색폼 확인
function validation() {
	let searchId = document.getElementById('searchId');
	
	if (searchId.value.length < 3 || searchId.value.length > 10) {
		alert("검색할 ID를 3~10자로 입력하세요.");
		return false;
	}
	return true;
}

//가입폼에 아이디 입력
function inputId(id) {
	opener.document.getElementById('m_id').value = id;
	this.close();
}

</script>
</head>
<body>
<header>
	<h1>[ ID 중복 확인 ]</h1>
</header>
<br>
<section>
	<form action="idcheck" method="post" onsubmit="return validation()">
		검색할 ID <input type="text" name="searchId" id="searchId">
				<input type="submit" value="검색" />
	</form>

	<!-- 검색 후에만 출력 -->
	<div th:if="${searchId != null}">
		<!-- 사용 가능한 경우에만 출력 -->
		<div th:if="${result}">
			<p><span th:text="${searchId}"></span><span> : 사용할 수 있는 ID입니다.</span></p>
			<p><input type="button" value="ID사용하기" th:searchId="${searchId}" onclick="inputId(this.getAttribute('searchId'))"></p>
		</div>
		<!-- 사용 불가능한 경우에만 출력 -->
		<div th:if="${not result}">
			<p><span th:text="${searchId}"></span><span> : 이미 사용중인 ID입니다.</span></p>
		</div>
		
	</div>
	
</section>
</body>
</html>
