<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
    <link rel="stylesheet" th:href="@{/css/reset_1.css}">
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $(document).ready(function() {
            $("aside").click(function() {
                $("html").animate({
                    scrollTop: 0,
                }, 777)
            })
        })
    </script>
    <script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="h_cont">
                <h1><a th:href="@{/}"><img th:src="@{/img/littlecheflogo.png}" width="20%"></a></h1>
                <ul class="h_menu">
                    <li>
                        <a th:href="@{/memberView/login}">
                            <div class="icon">
                                <img th:src="@{/img/topicon1.png}" alt="t_icon1">
                            </div>
                            <p>login</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/}">
                            <div class="icon">
                                <img th:src="@{/img/logout.png}" alt="t_icon2" width="32px">
                            </div>
                            <p>logout</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/join}">
                            <div class="icon">
                                <img th:src="@{/img/topicon2.png}" alt="t_icon3">
                            </div>
                            <p>join</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/mypage}">
                            <div class="icon">
                                <img th:src="@{/img/laptop.png}" alt="t_icon4" width="32px">
                            </div>
                            <p>mypage</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/memberView/cart}">
                            <div class="icon">
                                <img th:src="@{/img/cart.png}" alt="t_icon5" width="32px">
                            </div>
                            <p>cart</p>
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="gnb">
                <ul>
                    <li><a href="#">추천</a></li>
                    <li><a href="#">분류</a></li>
                    <li><a href="#">랭킹</a></li>
                    <li><a href="#">매거진</a></li>
                    <li><a href="#">클래스</a></li>
                    <li><a href="#">더보기</a></li>
                    <li><form name="search" method="post">
                        <fieldset>
                            <legend>검색창</legend>
                            <input type="text" name="search_bar" placeholder="검색어를 입력하세요">
                            <button type="button"><img th:src="@{/img/search.svg}" alt="검색아이콘"></button>
                        </fieldset>
                    </form></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>리틀 셰프에 오신 것을 환영합니다!</h1>
            </section>
            <section id="section_1">
                <form id="join" th:action="@{/memberView/join}"  method="post">
                    <table>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <input type="text" name="m_id" id="m_id" placeholder="아이디를 입력하세요">
                                <input type="button" value="중복확인">
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td>
                                <input type="password" name="m_pw" id="m_pw"  placeholder="비밀번호를 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호 확인</th>
                            <td>
                                <input type="password" id="m_pw2" placeholder="상기 입력한 비밀번호를 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" name="m_name" id="m_name"  placeholder="이름을 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>
                                <input type="date" name="m_birth" id="m_birth" >
                            </td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>
                                <input type="tel" name="m_phone" id="m_phone"  placeholder="전화번호를 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input type="email" name="m_email" id="m_email"  placeholder="이메일을 입력하세요">
                            </td>
                        </tr>
                        <tr>
                            <th>우편번호</th>
                            <td>
                                <input type="text" id="postcode" placeholder="우편번호">
								<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
                            </td>
                        </tr>
                        <tr>
                        	<th>도로명주소</th>
                        	<td>
                        	<input type="text" name="m_address" id="m_address" placeholder="도로명주소">							
                        	</td>
                        </tr>
                        
                        <tr>
                        	<th></th>
                        	<td>
                        	<input type="text" id="detailAddress" placeholder="상세주소">
							</td>                        	
                        </tr>                        
                        <tr>
                            <td colspan="2" id="table_last">
                                <input type="submit" value="가입하기">
                                <input type="reset" value="취소하기">
                            </td>
                        </tr>
                    </table>
                </form>                           
            </section>
                       <section id="section_3">
                <div class="sc_box">
                    <ul class="banner">
                        <li><a href="#"><img th:src="@{/img/banner1.jpg}" alt="ban1"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner2.jpg}" alt="ban2"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner3.jpg}" alt="ban3"></a></li>
                    </ul>
                </div>           
            </section>
            <section id="section_4">
                <div class="sc4_cont">
                    <div class="sc4_top">
                        <div class="sct_cont">
                            <h2>NEWS</h2><p>온라인 쇼핑몰이 현재 오픈을 준비하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="sc4_bottom">
                        <ul class="sc4_menu">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보취급방침</a></li>
                            <li><a href="#">대량구매</a></li>
                            <li><a href="#">오시는 길</a></li>
                        </ul>
                    </div>                
                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="ft_cont">
                <div class="ft_logo">
                    <a href="#" class="ft_logo">
                        <img id="ft_img" th:src="@{/img/littlechef_footer.png}" width="15%" alt="f_logo">
                    </a>
                </div>
                <address>대표 : 남정욱 / E-mail: help@10000recipe.com / Phone: 02) 323-5049<br>
                    주소: 서울 강남구 삼성동 123-45 한국무역센터 1106-1호<br>
                    문의 전화(운영시간 평일 10:00~18:00)<br>
                    쇼핑 문의(작은 요리 공방) : 02-1234-5678<br>
                    서비스 이용문의 : 070-4444-6666<br>
                    
                    (주)작은 요리 공방 / 사업자등록번호 234-56-01234 / 통신판매업신고 2022-서울강남-3333 / 벤처기업확인 / 사업자정보확인
                    서울지방중소기업청 제 0123456789-1-01643호</address>
                <p class="copy">Copyright ©Little Chef Inc. All Rights Reserved</p>
            </div>
        </footer>
        <aside id="aside">
            <ul class="as_logo">
                <li>
                    <a href="#"><img th:src="@{/img/up3.png}" alt="aside_logo"></a>
                </li>
            </ul>
        </aside>
    </div>
</body>
</html>