<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>로그인</h1>
            </section>
            <section id="section_1">
                <form name="loginform" method="post" sec:action="@{/memberView/login}">
                    <fieldset id="login">
                        <legend>회원로그인</legend>
                        <div class="user_login">
                            <input type="text" name="m_id" placeholder="아이디" autofocus>
                            <input type="password" name="m_pw" placeholder="비밀번호">
                            <label for="save_id">아이디 저장</label>
                            <input type="checkbox" name="save_id" id="save_id">
                            <button type="submit" class="btn_login">로그인</button>
                            <button type="button" class="btn_join"><a th:href="@{/memberView/join}">회원가입</a></button>
                            <div th:if="${param.error}" id="error">* ID 또는 비밀번호가 틀렸습니다.</div>
                        </div>
                    </fieldset>
                </form>
            </section>           
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>