<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>마이페이지</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                        <th>내 등급</th>
                        <th>
                            마일리지 및 쿠폰
                        </th>
                        <th>현재 주문 상태</th>
                    </tr>
                    <tr>
                        <td>당신의 등급은 <span>A</span>등급입니다.</td>
                        <td>
                            <h1>마일리지</h1>
                            <h1>보유쿠폰</h1>
                        </td>
                        <td>
                            <h1>주문이력보기</h1>
                            <h1>배송중 목록보기</h1>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="section_2">
                <h1>최근 주문목록</h1>
                <table>
                    <tr>
                        <th>레시피 명</th>
                        <td>0001</td>
                        <td><a href="#">갈릭 닭가슴살</a></td>
                        <td>주문일자: 2022/02/22</td>
                    </tr>
                    <tr>
                        <th>레시피 명</th>
                        <td>0002</td>
                        <td><a href="#">페퍼 솔트 닭가슴살</a></td>
                        <td>주문일자: 2022/02/21</td>
                    </tr>
                    <tr>
                        <th>레시피 명</th>
                        <td>0003</td>
                        <td><a href="#">민트 초코 닭가슴살</a></td>
                        <td>주문일자: 2022/02/20</td>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
        <aside id="myaside">
        	<ul>
        		<li class="goHome">
        			<a th:href="@{/}">홈으로</a>
        		</li>
        		<li class="upperline">
					<a>__________________________________</a>
        		</li>
        		<li class="member">
        			<p>회원관리</p>
        		</li>
		        <li class="goUpdate">
		            <a th:href="@{/memberView/updateForm}">
		            	회원정보수정
		            </a>
		        </li>
		        <li class="goLogout">
		            <a th:href="@{/memberView/updateForm}">
		            	로그아웃
		            </a>
		        </li>
		        <li class="getout">
		            <a th:href="@{/memberView/updateForm}">
		            	회원탈퇴
		            </a>
		        </li>
		        <li class="middleline">
					<a>__________________________________</a>
        		</li>
        		<li class="order">
        			<p>주문관리</p>
        		</li>
		        <li class="goOrderList">
		            <a th:href="@{/memberView/updateForm}">
		            	주문내역
		            </a>
		        </li>
		        <li class="goCartList">
		            <a th:href="@{/memberView/updateForm}">
		            	장바구니
		            </a>
		        </li>
		        <li class="underline">
					<a>__________________________________</a>
        		</li>
        		<li class="benefit">
        			<p>혜택관리</p>
        		</li>
		        <li class="goCoupon">
		            <a th:href="@{/memberView/coupon}">
		            	쿠폰관리
		            </a>
		        </li>
		        <li class="asideBanner">
		            <a href="#">
		            	<img th:src="@{/img/littlechef_footer.png}">
		            </a>
		        </li>
    		</ul>
        </aside>
    </div>
</body>
</html>