<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer id="footer">
    <div class="ft_cont" th:fragment="fragment-footer">
        <div class="ft_logo">
            <a href="#" class="ft_logo">
                <img id="ft_img" th:src="@{/img/littlechef_footer.png}" width="15%" alt="f_logo">
            </a>
        </div>
        <address>대표 : 남정욱 / E-mail: help@littlechef.com / Phone: 02) 123-4567<br>
            주소: 서울 강남구 삼성동 123-45 한국무역센터 1106-1호<br>
            문의 전화(운영시간 평일 10:00~18:00)<br>
            쇼핑 문의(작은 요리 공방) : 02-1234-5678<br>
            서비스 이용문의 : 070-4444-6666<br>
            
            (주)작은 요리 공방 / 사업자등록번호 234-56-01234 / 통신판매업신고 2022-서울강남-3333 / 벤처기업확인 / 사업자정보확인
            서울지방중소기업청 제 0123456789-1-01643호</address>
        <p class="copy">Copyright ©Little Chef Inc. All Rights Reserved</p>
    </div>
</footer>
</html>
