<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/writeboard.css}">
<title>Insert title here</title>
<style>
	th {
		background-color: #e6e6e6;
		width: 120px;
	}
	td {
		background-color: #f2f2f2;
	}
</style>
</head>
<body>
	<h1>[ 후기 수정하기 ]</h1>
	<form id="updateform" th:action="@{/boardView/updateboard}" method="post"
		onsubmit="return validation();" > <!-- enctype="multipart/form-data"> <!-- 파일을 같이 업로드 할 때는 enctype 반드시 적어줘야! --> <!-- 바이너리 데이터까지 다 첨부 -->
		<!-- hidden : 글 번호 -->
		<input type="hidden" name="b_num" th:value="${board.b_num}">
		
		<table>
			<!-- 메뉴별 타이틀  -->
				<tr>
					<th>레시피 번호</th>
					<td><input type=text name="food_id" id="food_id" placeholder="레시피 번호입력"></td>		
				</tr>
				<tr>
					<th>제목</th>
					<td><input type=text name="b_title" id="b_title" placeholder="후기 제목"></td>
				</tr>
				<tr>
					<th>후기내용</th>
					<td><textarea name="b_contents" id="b_contents" placeholder="후기 내용"></textarea></td>
				</tr>
				<tr>
					<th>사진첨부</th>
					<td>
						<input type=file name="upload" size="30"> <!--  value="파일 선택" style="margin: 5px" -->
				<!--		 <div th:if="${originalfile} == null">선택된 파일 없음</div>
						<div th:if="${originalfile} != null" th:text="${originalfile}"></div> -->
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="등록">
					</td>
				</tr> 
			</table>
	</form>
</body>
</html>