e<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>write board</title>
<link rel="stylesheet" th:href="@{/css/writeboard.css}">
</head>
<body>
	<div id="wrap">
		<div id="container">
			<section id="section_0">
		<h1>후기 작성</h1>
	</section>
	<section id="section_1">
		<form id="writeform" th:action="@{/boardView/writeboard}" method="post"
		onsubmit="return validation();"> <!-- enctype="multipart/form-data" -->
			<table>
			<!-- 메뉴별 타이틀  -->
				<tr>
					<th>레시피 번호</th>
					<td><input type=text name="food_id" id="food_id" placeholder="레시피 번호입력"></td>		
				</tr>
				<tr>
					<th>제목</th>
					<td><input type=text name="b_title" id="b_title" placeholder="후기 제목"></td>
				</tr>
				<tr>
					<th>후기내용</th>
					<td><textarea name="b_contents" id="b_contents" placeholder="후기 내용"></textarea></td>
				</tr>
				<tr>
					<th>사진첨부</th>
					<td>
						<input type=file name="upload" size="30"> <!--  value="파일 선택" style="margin: 5px" -->
						<!-- <div th:if="${originalfile} == null">선택된 파일 없음</div>
						<div th:if="${originalfile} != null" th:text="${originalfile}"></div> -->
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="등록">
					</td>
				</tr> 
			</table>
		</form>
		</section>
		</div>
	</div>
</body>
</html>