/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    max-width: 144rem;
    margin: 2rem auto;
}

#section_1 table {
    width: 110rem;
    margin: 4rem auto;
    border: 1px solid #b37b0e;
    border-collapse: collapse;
    box-sizing: border-box;
}

#section_1 table th {
    background-color: #027d62;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

#section_1 table td {
    border: 1px dotted #b37b0e;
    color: #014A3A;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}


#section_1 table td:nth-child(2) {
    text-align: left;
    width: 50rem;
    overflow: hidden;
}

#section_1 table td a:hover {
    color: #045B61;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

input[type=button] {
    color: white;
    background-color: #b37b0e;
    border: none;
    width: 12rem;
    height: 2.4rem;
}

input[type=button]:hover {
    background-color: #4F453A;
    cursor: pointer;
    transition: 0.5s;
}

/* Section 2 */

#container #section_2 {padding: 0 auto; max-width: 1440px; min-width: calc(1000px - 4rem); margin: 0 auto; margin-bottom: 4rem;}

#section_2 h2 {font-size: 2.5rem; font-weight: 900; text-align: left; margin-bottom: 2rem;}

#section_2 h2 span {color: #027d62;}

#section_2 .item_list {display: flex; flex-wrap: wrap; border-top: 2px solid green;}

.item_list li {width: 25%; border-left: 1px solid #ccc; box-sizing: border-box; border-bottom: 1px solid #ccc; position: relative;}

.item_list li:nth-of-type(4) {border-right: 1px solid #ccc;}

.item_list li:last-child {border-right: 1px solid #ccc;}

.item_list li a img {width: 100%;}

.item_list .pay {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: 0.3s;}

.item_list .pay a {font-size: 2rem; color: whitesmoke; padding: 3rem; background-color: #333;}

.item_list li:hover .pay {opacity: 0.8;}

