/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    max-width: 144rem; 
    padding: 0 2rem; 
    min-width: calc(1000px - 4rem); 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#section_1 #sc1_left {
    width: 58rem;
    height: 58rem;
    padding: 4rem;
    margin: 5rem;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
}

#section_1 #sc1_right {
    width: 58rem;
    height: 58rem;
    padding: 4rem;
    margin: 5rem;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
}

#sc1_right h1 {
    text-align: center;
    color: #014A3A;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#sc1_right legend {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

#sc1_right table {
	width: 48rem;
	margin: 5rem auto;
}

#sc1_right tr th {
	width: 14rem;
	text-align: left;
    font-size: 2.5rem;
    color: #027d62;
    padding: 1.2rem;
}

#sc1_right tr th:hover {
    color: white;
    background-color: #027d62;
}
#sc1_right tr td {
    font-size: 2.1rem;
    color: #b37b0e;
    padding-top: 1rem;
    padding-left: 2rem;
}
/* Section 2 */

#section_2 {
    max-width: 144rem; 
    padding: 0 2rem; 
    min-width: calc(1000px - 4rem); 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#section_2 #sc2_button {
    border: 1px solid #b37b0e;
    width: 126rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
}

#section_2 #sc2_button a input[type=submit] {
    width: 24rem;
    height: 3rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
    background-color: #b37b0e;
    border: none;
}

#section_2 #sc2_button a input[type=submit]:hover {
    background-color: #4F453A;
    transition: 0.5s;
    cursor: pointer;
}

#second {
	padding-top: 100rem;
}

#container #section_2s {
	max-width: 144rem; 
    padding: 0 2rem; 
    min-width: calc(1000px - 4rem); 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#section_2s table {
	border: 1px solid #b37b0e;
    width: 126rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

#section_2s table th {
	font-size: 2rem;
	padding: 0.4rem;
	box-sizing: border-box;
	color: white;
    background-color: #b37b0e;
}

#section_2s table td {
	font-size: 1.8rem;
	color: #4F453A;
	padding: 0.4rem;
}

#section_2s table td a {
	color: #4F453A;
}

#section_2s table td a:hover {
	color: #b37b0e;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.5s;
}

#section_2s table #td_btn {
	text-align: center;
}

#section_2s table #td_btn a input[type=button] {
	color: white;
	background-color: #b37b0e;
	font-size: 1.8rem;
	padding: 0.6rem 1.2rem;
	margin: 0.4rem;
	border: none;
}

#section_2s table #td_btn a input[type=button]:hover {
	background-color: #4F453A;
	cursor: pointer;
	transition: 0.5s;
}