/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    max-width: 144rem; 
    padding: 0 2rem; 
    min-width: calc(1000px - 4rem); 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#section_1 #sc1_left {
    width: 58rem;
    height: 58rem;
    padding: 4rem;
    margin: 5rem;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
}

#section_1 #sc1_right {
    width: 58rem;
    height: 58rem;
    padding: 4rem;
    margin: 5rem;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
}

#sc1_right h1 {
    text-align: center;
    color: #014A3A;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#sc1_right legend {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

#sc1_right tr th {
    font-size: 2.2rem;
    color: #027d62;
    padding: 1.2rem;
}

#sc1_right tr th:hover {
    color: white;
    background-color: #027d62;
}
#sc1_right tr td {
    font-size: 2rem;
    color: #b37b0e;
    padding-top: 1rem;
}
/* Section 2 */


