/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 4rem;
    text-align: center;
    color:#014A3A;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Form Common */
#login {width: 60rem; margin: 4rem auto; margin-top: 1rem; padding: 4rem 8rem; box-sizing: border-box; border: 1px solid #888;}
#login legend {display: none;}

#login input[type=text],
#login input[type=password],
#login button {display: block; width: 44rem; box-sizing: border-box; margin: 0.5rem 0; align-items: center;}

/* login_form */

#login .user_login input[type=text],
#login .user_login input[type=password] {padding: 1rem 0.5rem; outline: none; border: 1px solid #999; cursor: pointer;}

#login .user_login input[type=text]:focus,
#login .user_login input[type=password]:focus {border-color: #027d62;}
#login .user_login input[type=checkbox] {
    width: 2rem; height: 2rem; margin: 0; padding: 0;
}
#login .user_login label {font-size: 2rem; color: #999;}

#login .user_login .btn_login {background-color: #027d62; font-size: 1.5rem; color: #fff; border: none; cursor: pointer; height: 4rem;}

#login .user_login .btn_join {background-color: #b37b0e; border: none; cursor: pointer; height: 4rem;}

#login .btn_join a {color: #fff; font-size: 1.5rem;}
/* Section 1 */

/* Section 2 */