/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 2rem auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    max-width: 144rem;
    margin: 4rem auto;
}

#section_1 table {
    width: 120rem;
    margin: 0 auto;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
} 

#section_1 table th {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #027d62;
    padding: 1rem;
    box-sizing: border-box;
}

#section_1 table td {
    font-size: 1.8rem;
    color: #014A3A;
    padding: 1rem;
    text-align: center;
    border: 1px dotted #b37b0e;
}

#section_1 table td span {
    font-weight: bold;
    color: #b37b0e;
}
/* Section 2 */

#container #section_2 {
    max-width: 144rem;
    margin: 4rem auto;
}

#section_2 h1 {
    text-align: start;
    font-size: 3rem;
    color: #014A3A;
    width: 120rem;
    margin: auto;
    margin-bottom: 2rem;
}

#section_2 table {
    width: 120rem;
    margin: 0 auto;
    border: 1px solid #b37b0e;
    box-sizing: border-box;
} 

#section_2 table th {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #027d62;
    padding: 1rem;
    width: 12rem;
    box-sizing: border-box;
}

#section_2 table td {
    font-size: 1.8rem;
    color: #014A3A;
    padding: 1rem;
    text-align: left;
    border: 1px dotted #b37b0e;
}
#section_2 table td:nth-child(2) {
	width: 6rem;
	text-align: center;
}
#section_2 table td:last-child {
	width: 20rem;
	text-align: center;
}

#section_2 table td a {
	color: #014A3A;
}

#section_2 table td a:hover {
	color: 033C57;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.5s;
}
#section_2 table td span {
    font-weight: bold;
    color: #b37b0e;
}

#myaside {
    position: fixed;
    width: 21rem;
    height: 60rem;
    border: 1px solid #dedede;
    border-radius: 1.2rem;
    background-color: rgba(234, 250, 234, 0.9);
    top: 15%;
    right: 1%;
    transform: translate(0%,10%);
    z-index: 3;
    display: flex;
}

#myaside .goHome {
	text-align: center;
	position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goHome a {
	font-size: 2.4rem;
	font-weight: bold;
	color: #014A3A;
}

#myaside .goHome a:hover {
	color: #045E8A;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.5s;
}

#myaside .upperline {
	text-align: center;
	position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .upperline a {
	color: #014A3A;
	font-weight: bold;
}

#myaside .upperline a:hover {
	text-decoration: underline;
}

#myaside .member {
	text-align: center;
	position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .member p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #014A3A;
}

#myaside .goUpdate {
	text-align: center;
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goUpdate a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goUpdate a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .goLogout {
	text-align: center;
	position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goLogout a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goLogout a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .getout {
	text-align: center;
	position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .getout a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .getout a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .middleline {
	text-align: center;
	position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .middleline a {
	color: #014A3A;
	font-weight: bold;
}

#myaside .middleline a:hover {
	text-decoration: underline;
}

#myaside .order {
	text-align: center;
	position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .order p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #014A3A;
}

#myaside .goOrderList {
	text-align: center;
	position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goOrderList a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goOrderList a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .goCartList {
	text-align: center;
	position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goCartList a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goCartList a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .underline {
	text-align: center;
	position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .underline a {
	color: #014A3A;
	font-weight: bold;
}

#myaside .underline a:hover {
	text-decoration: underline;
}

#myaside .benefit {
	text-align: center;
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .benefit p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #014A3A;
}

#myaside .goDiscount {
	text-align: center;
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goDiscount a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goDiscount a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .goCoupon {
	text-align: center;
	position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .goCoupon a {
	font-size: 1.5rem;
	color: #014A3A;
	border: none;
	padding: 0.8rem;
}

#myaside .goCoupon a:hover {
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

#myaside .asideBanner {
	text-align: center;
	position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}

#myaside .asideBanner a img {
	width: 15rem;
	opacity: 0.77;
}

#myaside .asideBanner a img:hover {
	filter: drop-shadow(2px 2px 2px #029676);
	opacity: 1;
	transition: 0.5s;
}
