/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {width: 100%; margin: 0 auto;}

#section_1 .s1_cont {padding: 0 2rem; max-width: 144rem; min-width: calc(1000px - 4rem); margin: 0 auto; position: relative;}

.s1_cont .slogan {position: absolute; top: 50%; left: 5%; transform: translateY(-50%);}

.s1_cont .thumb {position: absolute; display: flex; left: 50%; bottom: 4rem; transform: translateX(-50%);}

.thumb li a img {transition: 0.3s; width: 48rem;}

.thumb li:hover a img {filter: brightness(1.1);}

/* Section 2 */

#container #section_2 {padding: 0 auto; max-width: 1440px; min-width: calc(1000px - 4rem); margin: 0 auto; margin-bottom: 4rem;}

#section_2 h2 {font-size: 2.5rem; font-weight: 900; text-align: left; margin-bottom: 2rem;}

#section_2 h2 span {color: #027d62;}

#section_2 .item_list {display: flex; flex-wrap: wrap; border-top: 2px solid green;}

.item_list li {width: 25%; border-left: 1px solid #ccc; box-sizing: border-box; border-bottom: 1px solid #ccc; position: relative;}

.item_list li:nth-of-type(4) {border-right: 1px solid #ccc;}

.item_list li:last-child {border-right: 1px solid #ccc;}

.item_list li a img {width: 100%;}

.item_list .pay {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: 0.3s;}

.item_list .pay a {font-size: 2rem; color: whitesmoke; padding: 3rem; background-color: #333;}

.item_list li:hover .pay {opacity: 0.8;}

