/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 1rem auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid #014A3A;
    color:#b37b0e;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_1 table {
    width: 80rem;
    margin: 4rem auto;
    box-sizing: border-box;
    border: 1px solid #027d62;
    }

#section_1 table th {
    color: white;
    background-color: #027d62;
    font-size: 2rem;
    padding: 1rem;
}
#section_1 table th:first-child {
    width: 1rem;
}

#section_1 table th:nth-child(2) {
	width: 6rem;
}
#section_1 table th:last-child {
    width: 14rem;
}
#section_1 table td {
    color: #4F453A;
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    border: 1px dotted #027d62;
}

#section_1 table td:first-child {
	background-color: #027d62;
}
#section_1 table td a:hover {
    color: #b37b0e;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}
#section_1 table td input[type=submit] {
    color: white;
    background-color: #b37b0e;
    border: none;
    font-size: 1.6rem;
    width: 12rem;
    height: 3rem;
    box-sizing: border-box;  
}

#section_1 table td input[type=submit]:hover {
    background-color: #4F453A;
    cursor: pointer;
    transition: 0.5s;
}

/* Section 2 */
