/* Container Contents */

#container #section_0 {
    max-width: 144rem;
    margin: 0 auto;
}

#section_0 h1 {
    font-size: 4rem;
    padding: 4rem;
    text-align: center;
    color:#014A3A;
}

#section_0 h1:hover {
    color: white;
    background-color: #014A3A;
}

/* Section 1 */

#container #section_1 {
    width: 144rem;
    margin: 4rem auto;
}

#section_1 table {
    width: 120rem;
    border: 1px solid #027d62;
    box-sizing: border-box;
    margin: 0 auto;
}

#section_1 table th {
    width: 12rem;
    color: white;
    background-color: #027d62;
    font-size: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

#section_1 table td {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
}

#section_1 table td:nth-child(4) {
    width: 2rem;
}

#section_1 table td a img {
    width: 2rem;
}
/* Section 2 */

#container #section_2 {
    width: 144rem;
    margin: 4rem auto;
}

#section_2 table {
    width: 120rem;
    border: 1px solid #027d62;
    box-sizing: border-box;
    margin: 0 auto;
}

#section_2 table th {
    color: white;
    background-color: #027d62;
    font-size: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

#section_2 table th:first-child {
    width: 6rem;
    box-sizing: border-box;
    padding: 1rem;
    text-align: left;
}
#section_2 table th:nth-child(2) {
    width: 20rem;
}
#section_2 table th:nth-child(3) {
    width: 78rem;
}
#section_2 table th:nth-child(4) {
    width: 10rem;
}
#section_2 table th:last-child {
    width: 6rem;
}
#section_2 table td {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: left;
}
#section_2 table td:nth-child(4) {
    text-align: center;
}
#section_2 table td:last-child {
    text-align: center;
}
#section_2 table td a:hover {
    color: #027d62;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}
