<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cscenter.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
                <h1>무엇을 도와드릴까요?</h1>
            </section>
            <section id="section_1">
            	<table>
            		<thead>
            			<tr>
            				<th id="thead" colspan="2">Q & A</th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>
            				<th>번호</th>
            				<th>문의</th>
            			</tr>
            			<tr>
            				<th class="num">01</th>
            				<td><a th:href="@{./cswrite}">회원 가입이 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">02</th>
            				<td><a th:href="@{./cswrite}">회원 탈퇴가 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">03</th>
            				<td><a th:href="@{./cswrite}">회원 수정이 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">04</th>
            				<td><a th:href="@{./cswrite}">장바구니에 담아지지 않습니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">05</th>
            				<td><a th:href="@{./cswrite}">주문하기 기능이 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">06</th>
            				<td><a th:href="@{./cswrite}">주문목록이 보이지 않습니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">07</th>
            				<td><a th:href="@{./cswrite}">카드 결제가 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">08</th>
            				<td><a th:href="@{./cswrite}">계좌 이체가 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">09</th>
            				<td><a th:href="@{./cswrite}">회원 등급이 안보입니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">10</th>
            				<td><a th:href="@{./cswrite}">쿠폰 사용이 안됩니다.</a></td>
            			</tr>
            			<tr>
            				<th class="num">11</th>
            				<td><a th:href="@{./cswrite}">메뉴 선택이 안됩니다.</a></td>
            			</tr>
            		</tbody>
            	</table>
            </section>
            <section id="section_2">
            	<div id="etc">
            		<ul>
	            		<li>
	            			<a class="etc">기타 문의사항 안내</a>
	            		</li>
	            		<li>
	            			<a>이메일 문의: <span>&nbsp; help@10000recipe.com</span></a>
	            		</li>
	            		<li>
	            			<a>상담 전화: <span>&nbsp; 02) 323-5049</span></a>
	            		</li>
	            		<li>
	            			<a>서비스 이용문의: <span>&nbsp; 070-4444-6666</span></a>
	            		</li>
	            	</ul>
            	</div>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>