<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cscenter.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
                <h1>무엇을 도와드릴까요?</h1>
            </section>
            <section id="section_1">
              <div id="cs_input">
              	<a th:href="@{/cscenterView/cswrite}" id="write_button">
                	<input type="button" value="문의 작성하기">
                </a>
              </div>
              <form id="writeform" th:action="@{/cscenterView/cslist}" method="post"
						onsubmit="return validation();">
            	<table>
            		<thead>
            			<tr>
            				<th id="thead" colspan="3">Q & A</th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>
            				<th>문의 번호</th>
	                		<th>문의 제목</th>
	                		<th>작성 시간</th>
            			</tr>
            			<tr th:each=" cslist:${cslist}">
            			<td>
            				<a th:text="${cslist.c_num}"></a>
            			</td>
                        <td>
                        	<a th:text="${cslist.c_title}" th:href="@{/cscenterView/csread(c_num=${cslist.c_num})}"></a>
                        </td>
                      	<td  class="center">
                      		<a th:text="${cslist.c_datetime}"></a>
                      	</td>
                    </tr>
                    </tbody>
            	</table>
            </form>
            <table id="sc1_tbl2">
            	<tr>
       				<td colspan="3" id="jaju">자주하는 질문</td>
       			</tr>
       			<tr>
       				<th>문의 번호</th>
       				<th colspan="2">문의 내용</th>
       			</tr>
       			<tr>
       				<td>1</td>
       				<td colspan="2"><a>회원가입이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>2</td>
       				<td colspan="2"><a>회원수정이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>3</td>
       				<td colspan="2"><a>로그인이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>4</td>
       				<td colspan="2"><a>레시피 상세페이지가 나오지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>5</td>
       				<td colspan="2"><a>후기 작성이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>6</td>
       				<td colspan="2"><a>후기 읽기가 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>7</td>
       				<td colspan="2"><a>후기 댓글 작성이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>8</td>
       				<td colspan="2"><a>후기 수정이 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>9</td>
       				<td colspan="2"><a>장바구니 담기가 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>10</td>
       				<td colspan="2"><a>재료 삭제가 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>11</td>
       				<td colspan="2"><a>재료별 개별 구매가 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>12</td>
       				<td colspan="2"><a>전체 일괄 구매가 되지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>13</td>
       				<td colspan="2"><a>결제가 정상적으로 이뤄지지 않습니다.</a></td>
       			</tr>
       			<tr>
       				<td>14</td>
       				<td colspan="2"><a>쿠폰이 정상적으로 적용이 안됩니다.</a></td>
       			</tr>
       			<tr>
       				<td>15</td>
       				<td colspan="2"><a>구매 후 마이페이지에서 구매내역이 확인되지 않습니다.</a></td>
       			</tr>
            </table>
            </section>
            <section id="section_2">
            	<div id="etc">
            		<ul>
	            		<li>
	            			<a class="etc">기타 문의사항 안내</a>
	            		</li>
	            		<li>
	            			<a>이메일 문의: <span>&nbsp; help@10000recipe.com</span></a>
	            		</li>
	            		<li>
	            			<a>상담 전화: <span>&nbsp; 02) 323-5049</span></a>
	            		</li>
	            		<li>
	            			<a>서비스 이용문의: <span>&nbsp; 070-4444-6666</span></a>
	            		</li>
	            	</ul>
            	</div>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>