<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cscenter.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
                <h1>무엇을 도와드릴까요?</h1>
            </section>
            <section id="section_1">
              <form id="writeform" th:action="@{/cscenterView/cslist}" method="post"
						onsubmit="return validation();">
            	<table>
            		<thead>
            			<tr>
            				<th id="thead" colspan="2">Q & A</th>
            		<th><a th:href="@{/cscenterView/cswrite}" id="write_button">
                    			<input type="button" value="문의 작성하기"></a></th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>

	                		<th>문의 제목</th>
	                		<th>작성 시간</th>
            			</tr>
            			<tr th:each=" cslist:${cslist}">
                        <td><a th:text="${cslist.c_title}" th:href="@{/cscenterView/csread(c_num=${cslist.c_num})}"></a></td>
                      	<td th:text="${cslist.c_datetime}" class="center"></td>
                    </tr>
            		</tbody>
            	</table>
            </form>
            </section>
            <section id="section_2">
            	<div id="etc">
            		<ul>
	            		<li>
	            			<a class="etc">기타 문의사항 안내</a>
	            		</li>
	            		<li>
	            			<a>이메일 문의: <span>&nbsp; help@10000recipe.com</span></a>
	            		</li>
	            		<li>
	            			<a>상담 전화: <span>&nbsp; 02) 323-5049</span></a>
	            		</li>
	            		<li>
	            			<a>서비스 이용문의: <span>&nbsp; 070-4444-6666</span></a>
	            		</li>
	            	</ul>
            	</div>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>