<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cartList.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>주문 상세 목록</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                    	<th></th>
                        <th>재료명</th>
                        <th>수량</th>
                   	</tr>
                   
                    <tr th:each="orderDetail:${orderDetailList}">
                    	<td>
                    		<input type="hidden" name="o_id" th:value="${orderDetail.o_id}">
                    	</td>
                        <td th:text="${orderDetail.i_name}"></td>
                        <td th:text="${orderDetail.od_quantity}"></td>
                        
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>