<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
            <section id="section_0">
                <h1>※ -장바구니- ※</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                        <th>내 등급</th>
                        <th>
                            마일리지 및 쿠폰
                        </th>
                        <th>현재 주문 상태</th>
                    </tr>
                    <tr>
                        <td>당신의 등급은 <span>0</span>등급입니다.</td>
                        <td>
                            <h1>마일리지</h1>
                            <h1>보유쿠폰</h1>
                        </td>
                        <td>
                            <h1>주문이력보기</h1>
                            <h1>배송중 목록보기</h1>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="section_2">
                <table id="sc2_t1">
                    <tr>
                        <th>선택</th>
                        <th>번호</th>
                        <th>레시피명</th>
                        <th>수량</th>
                        <th>할인/적립</th>
                        <th>구매하기</th>
                        <th>삭제하기</th>
                    </tr>
                    <tr th:each="cart:${cartlist}">
                    	<form method="post">
	                        <td>
	                            <input type="checkbox">
	                        </td>
	                        <td th:text="${cart.c_id}">카트번호</td>
	                        <td th:text="${cart.food_name}">음식이름</td>
	                        <td>
	                            <input type="number" placeholder="수량" th:value="${cart.c_amount}">
	                        </td>
	                        <td>
	                            <select>
	                                <option>할인</option>
	                                <option>적립</option>
	                            </select>
	                        </td>
	                        <td>
	                            <input type="button" value="구매하기">
	                        </td>
	                        <td>
	                        	<input type="hidden" name="c_id" th:value="${cart.c_id}">
	                            <input id="delete" type="submit" value="삭제하기"
	                            onclick="javascript: form.action='/littlechef/orderView/delete';">
	                        </td>
                        </form>
                    </tr>
                    <tr th:each="cart:${cartlist}">
                    	<form method="post">
                        	<td colspan="7" id="last_td">
                           		<input id="deleteall" type="submit" value="전체취소" onclick="javascript: form.action='/littlechef/orderView/deleteall';">
                            	<input type="button" value="선택구매">
                            	<input type="button" value="전체구매">
                        	</td>
                        </form>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>