<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/orderList.css}">

</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
        		<h1>주문내역</h1>
        	</section>
        	<section id="section_1">
                <form method="post" th:action="@{/orderView/orderDetailList}">
                <table>
                    <tr>
                    	<th></th>
                        <th>번호</th>
                        <th>주문일시</th>
                        <th>결제금액</th>
                        <!-- <th>상세보기</th> -->
                    </tr>

                    <tr th:each="orderList:${orderList}">
                    	<td>
                    		<a><input type="hidden" id="o_id" name="o_id" th:value="${orderList.o_id}"></a>
                    	</td>
                        <td th:text="${orderList.o_id}"></td>
                        <td th:text="${orderList.o_date}"></td>
                        <td th:text="${orderList.o_price}"></td>
                     	<!-- <td>
                            <input type="submit" value="상세보기">
                        </td> -->
                    </tr>
                </table>
                </form>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>