<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/pay.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
                <h1>결제가 완료되었습니다!</h1>
            </section>
            <section id="section_1">
                <table>
                    <tr>
                        <th>결제수단</th>
                        <td>신용카드</td>
                    </tr>
                    <tr>
                        <th>주문번호</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>주문일자</th>
                        <td>2022/02/20</td>
                    </tr>
                    <tr>
                        <th>주문상품</th>
                        <td>허브 닭가슴살</td>
                    </tr>
                </table>
                <p>※주의 - 상품배송이 재고 상태와 배송사의 사정에 따라 늦어질 수 있습니다.</p>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>