<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/review.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
        		<h1>레시피 후기 게시판</h1>
        	</section>
        	<section id="section_1">
                <table>
                    <tr>
                        <th>후기제목</th> 
                        <td>닭가슴살에 후추랑 소금만 넣고 삶았더니 부드럽고 맛있어요!</td>
                        <th>좋아요</th>
                        <td>
                            <a href="#"><img src="img/btn_more.png"></a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4">후기내용</th>
                    </tr>
                    <tr>
                        <td colspan="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!</td>
                    </tr>   
                </table>
            </section>
            <section id="section_2">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>작성자</th>
                        <th>글 제목</th>
                        <th>작성 시간</th>
                        <th>추천</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>요리왕비룡</td>
                        <td><a>둘이먹다 하나가 죽어도 너무 맛있어요.</a></td>
                        <td>2022/03/01</td>
                        <td><a>추천</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>요리킹조리킹</td>
                        <td><a>정말 이 레시피는 요리의 왕입니다.</a></td>
                        <td>2022/02/28</td>
                        <td><a>추천</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>요리조리</td>
                        <td><a>이런 레시피 다시는 만들지 말아주세요. 너무너무 맛없어요.</a></td>
                        <td>2022/02/22</td>
                        <td><a>추천</a></td>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                <div class="sc_box">
                    <ul class="banner">
                        <li><a href="#"><img th:src="@{/img/banner1.jpg}" alt="ban1"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner2.jpg}" alt="ban2"></a></li>
                        <li><a href="#"><img th:src="@{/img/banner3.jpg}" alt="ban3"></a></li>
                    </ul>
                </div>           
            </section>
            <section id="section_4">
                <div class="sc4_cont">
                    <div class="sc4_top">
                        <div class="sct_cont">
                            <h2>NEWS</h2><p>온라인 쇼핑몰이 현재 오픈을 준비하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="sc4_bottom">
                        <ul class="sc4_menu">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보취급방침</a></li>
                            <li><a href="#">대량구매</a></li>
                            <li><a href="#">오시는 길</a></li>
                        </ul>
                    </div>                
                </div>
            </section>
        </div>
        <footer id="footer">
            <div class="ft_cont">
                <div class="ft_logo">
                    <a href="#" class="ft_logo">
                        <img id="ft_img" th:src="@{/img/littlechef_footer.png}" width="15%" alt="f_logo">
                    </a>
                </div>
                <address>대표 : 남정욱 / E-mail: help@10000recipe.com / Phone: 02) 323-5049<br>
                    주소: 서울 강남구 삼성동 123-45 한국무역센터 1106-1호<br>
                    문의 전화(운영시간 평일 10:00~18:00)<br>
                    쇼핑 문의(작은 요리 공방) : 02-1234-5678<br>
                    서비스 이용문의 : 070-4444-6666<br>
                    
                    (주)작은 요리 공방 / 사업자등록번호 234-56-01234 / 통신판매업신고 2022-서울강남-3333 / 벤처기업확인 / 사업자정보확인
                    서울지방중소기업청 제 0123456789-1-01643호</address>
                <p class="copy">Copyright ©Little Chef Inc. All Rights Reserved</p>
            </div>
        </footer>
        <aside id="aside">
            <ul class="as_logo">
                <li>
                    <a href="#"><img th:src="@{/img/up3.png}" alt="aside_logo"></a>
                </li>
            </ul>
        </aside>
    </div>
</body>
</html>