<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" th:href="@{/css/review.css}">
</head>
<body>
    <div id="wrap">
        <header id="header">
             <div th:replace="/fragments/header.html :: fragment-header"></div>
        </header>
        <div id="container">
        	<section id="section_0">
        		<h1>레시피 후기 게시판</h1>
        	</section>
        	<section id="section_1">
                <table>
                    <tr>
                        <th>후기제목</th> 
                        <td>닭가슴살에 후추랑 소금만 넣고 삶았더니 부드럽고 맛있어요!</td>
                        <th>좋아요</th>
                        <td>
                            <a href="#"><img src="img/btn_more.png"></a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4">후기내용</th>
                    </tr>
                    <tr>
                        <td colspan="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, ullam similique officia culpa, libero recusandae impedit quasi praesentium iusto quas perferendis totam quibusdam ipsa repellat porro beatae repudiandae dolorum!</td>
                    </tr>   
                </table>
            </section>
            <section id="section_2">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>작성자</th>
                        <th>글 제목</th>
                        <th>작성 시간</th>
                        <th>추천</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>요리왕비룡</td>
                        <td><a>둘이먹다 하나가 죽어도 너무 맛있어요.</a></td>
                        <td>2022/03/01</td>
                        <td><a>추천</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>요리킹조리킹</td>
                        <td><a>정말 이 레시피는 요리의 왕입니다.</a></td>
                        <td>2022/02/28</td>
                        <td><a>추천</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>요리조리</td>
                        <td><a>이런 레시피 다시는 만들지 말아주세요. 너무너무 맛없어요.</a></td>
                        <td>2022/02/22</td>
                        <td><a>추천</a></td>
                    </tr>
                </table>
            </section>
            <section id="section_3">
                 <div th:replace="/fragments/section_3.html :: fragment-section_3"></div>         
            </section>
            <section id="section_4">
                 <div th:replace="/fragments/section_4.html :: fragment-section_4"></div>
            </section>
        </div>
        <footer id="footer">
             <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </footer>
        <aside id="aside">
             <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        </aside>
    </div>
</body>
</html>